fortran/garcha-g2g
fortran/garcha
fortran/hibrido-g2g
fortran/hibrido
fortran/obj
g2g/*.o
g2g/*.so
g2g/*/*.o
g2g/*/*.cu_o
test/*/*.orb
test/*/*.out
test/*/gpu_options*
dtest/*/*.xyz
*.swp
ecuaciones.pdf
*.mod
fort.*
*.log
*.bak
/g2g/nbproject/private/