###########################################################
# Ignoring compiled objects, logs and backups
###########################################################
*.x
*.o
*.so
*.swp
*.mod
*.log
*.optrpt
*.bak
*~
liosolo/liosolo
#
###########################################################
## Ignoring outputs from test runs
###########################################################
test/*/*.orb
test/*/*.out
dtest/*/*.xyz
fort.*
mulliken
qm.xyz
salida
#
###########################################################
# What is this?
###########################################################
fortran/garcha-g2g
fortran/garcha
fortran/hibrido-g2g
fortran/hibrido
fortran/obj
ecuaciones.pdf
/g2g/nbproject/private/
#
###########################################################
# Isn't this redundant?
# (at least after adding *.cu_o)
###########################################################
g2g/*.o
g2g/*.so
g2g/*/*.o
g2g/*/*.cu_o
g2g/analytic_integral/*.o
g2g/analytic_integral/*/*.o
lioamber/*.log
lioamber/*.mod
liosolo/*.x
test/performance-measures/*
lioamber/utests/*.x
lioamber/liosubs/utests/*.x
lioamber/liosubs/utests/Output-*
#
###########################################################
# Unit test
###########################################################
test/unit_test/accumulate_point/main_gpu
test/unit_test/accumulate_point/main_cpu
test/unit_test/accumulate_point/output/*
test/unit_test/libxc_proxy/main_gpu
test/unit_test/libxc_proxy/output/*
test/unit_test/matrix/matrix_test
test/unit_test/timers/timers_test
test/unit_test/iteration/main_gpu
test/unit_test/iteration/output/*
test/unit_test/libxc_proxy/main_cpu
test/unit_test/libxc_proxy/main_gpu
test/*/output/*
###########################################################
# Integration test
###########################################################
test/integration_test/accumulate_point/main_cpu
test/integration_test/accumulate_point/main_gpu
test/integration_test/iteration/main_gpu
###########################################################
# Stress test
###########################################################
test/stress_test/0_aguaGPU/*
test/stress_tess/2_hemoGPU/*
test/stress_test/5_caffeineGPU/*
tess/stress_test/9_carotenoGPU/*
###########################################################
# Profiling
###########################################################
test/profiling/*
