fortran/garcha-g2g
fortran/garcha
fortran/hibrido-g2g
fortran/hibrido
fortran/obj
g2g/*.o
g2g/*.so
g2g/*/*.o
g2g/*/*.cu_o
g2g/analytic_integral/*.o
g2g/analytic_integral/*/*.o
test/*/*.orb
test/*/*.out
dtest/*/*.xyz
*.swp
ecuaciones.pdf
*.mod
fort.*
*.log
*.bak
/g2g/nbproject/private/
*.so
*~
mulliken
qm.xyz
salida
lioamber/*.mod
liosolo/liosolo
