###########################################################
# Ignoring compiled objects, logs and backups
###########################################################
*/lio.in
*/mdinfo
*/*.dat
*/*.mdcrd
*/*.mdfrz
*/*.mdvel
*/*.out
*/*.stdo
*/*_bo.rst7
*/*_eh.rst7
#
###########################################################
